/* Import a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');

:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* Extra */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #1b1c1d69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--color-05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 900;
    cursor: default;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}

span {
    color: var(--main-color);
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img {
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
}

.home-img img {
    width: 100%;
}

.home-content {
    width: 70%;
}

.home-content h3 {
    font-weight: 700;
    font-size: 2.6rem;
}

.services-container {
    color: #ffffff;
}

.service {
    color: #ffffff;
}

.service h2, .portfolio h2, .contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ffffff;
}
.services-container .services-box {
    padding: 2rem 1rem 2.5rem; /*aumenta a caixa pra baixo 6.5*/
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem transparent; /* Borda transparente inicialmente */
    background-color: var(--bg-color-02);
    transition: border-color 0.5s ease; /* Transição suave para a borda */
}

.services-container .services-box:hover {
    border-color: var(--main-color); /* Cor da borda ao passar o mouse */
}


.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 100;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input, form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea {
    resize: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0 0.3rem var(--main-color);
}

/* .btn {
    color: #ffffff;
} */



.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translateY(0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translateY(-0.65rem) rotate(45deg);
}

/* Media Queries */

/* Extra Small (xs): Smartphone (portrait) */
@media (max-width: 575px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home, .about {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .about-img {
        width: 80%;
        max-width: 80%;
    }

    .home-content, .about-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1, .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 100%;
    }
}

/* Small (sm): Smartphone (landscape) */
@media (min-width: 576px) and (max-width: 767px) {
    .home-img, .about-img {
        width: 65%;
        max-width: 65%;
    }

    .services-box {
        width: 70%;
    }
}

/* Medium (md): Tablet (landscape) */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img {
        max-width: 35%;
    }

    .home-content, .about-content {
        width: 50%;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto;
    }

    form .input-box input {
        width: 49%;
    }
}

/* Large (lg): Notebook */
@media (min-width: 992px) and (max-width: 1199px) {
    .services-container {
        flex-direction: row;
        gap: 1.2rem;
    }
    
}

/* Extra Large (xl): Desktop */
@media (min-width: 1200px) {
    .home-img, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto auto;
    }

}



/* Extra Large (xl): Desktop */
@media (min-width: 1200px) {
    .home-img, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .services-container {
        display: flex;
        justify-content: space-between;
        gap: 1.0rem; /* Adiciona espaçamento entre as caixas de serviço */
    }

    .services-box {
        flex: 1; /* Garante que as caixas de serviço se ajustem e usem o espaço disponível */
        margin-bottom: 2rem; /* Espaçamento inferior entre as linhas */
    }

    .portfolio-container {
        grid-template-columns: auto auto auto;
    }
}


.service-text {
    max-height: 20rem; /* Limita a altura do texto visível */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.service-box.expanded .service-text {
    max-height: 100%; /* Expande para mostrar todo o conteúdo */
}

/* .btn {
    background-color: var(--main-color);
    color: #fff;
    display: inline-block;
    padding: 0.7rem 1.8rem;
    border-radius: 2rem;
    color: var(--bg-color-02);
    margin-top: 1.2rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
} */

/* .btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);; /* Cor mais escura ao passar o mouse */
    /* background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
    } */

 */





    
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: #272a37;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* form {
  width: 100%;
  max-width: 30rem;
} */

label,
input,
textarea,
button {
  display: block;
}

input,
textarea,
button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 0.5rem;
  color: #84868f;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
button:focus {
  outline: none;
  background: #1c70d3;
}

button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: #272a37;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  /* form {
    width: 100%;
    max-width: 30rem;
  } */
  
  label,
  input,
  textarea,
  button {
    display: block;
  }
  
  input,
  textarea,
  button {
    width: 40%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
  }
  
  input,
  textarea {
    margin-bottom: 1rem;
    color: white;
    background: #323644;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3125rem #26344a;
  }
  
  label {
    margin-bottom: 0.5rem;
    color: #84868f;
  }
  
  textarea {
    min-height: 12.5rem;
    resize: vertical;
  }
  
  button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover,
  button:focus {
    outline: none;
    background: #1c70d3;
  }
  
  button:disabled {
    cursor: not-allowed;
    background: #555b69;
  }
  
  .success,
  .error {
    text-align: center;
  }
  
  .success {
    color: greenyellow;
  }
  
  .error {
    color: tomato;
  }



/* 
.home-content {
    width: 45%;
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
/* }

.home-content:hover {
    transform: scale(1.05); /* Aumenta o tamanho do home-content quando o mouse passar por cima */
/* } */ 




/* 
.home-img {
    width: 45%;
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
/* } */ 
/* 
.home-img:hover {
    transform: scale(1.05); /* Aumenta o tamanho do home-content quando o mouse passar por cima */
/* } */ 

/* Unificação de .btn e button */
.btn,
button {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    display: inline-block;
    padding: 1.25rem;
    border-radius: 99px;
    font-weight: 700;
    width: 40%;
    
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 1.2rem;
    border: none;
}

.btn:hover,
button:hover,
button:focus {
    background-color: #1c70d3;
    box-shadow: 0 0 0.3rem var(--main-color); /* Sombra ao passar o mouse */
    color: var(--main-color);
    outline: none;
}

.btn:disabled,
button:disabled {
    cursor: not-allowed;
    background-color: #555b69;
}

label,
input,
textarea {
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 1.25rem;
    font-weight: 700;
    font: inherit;
}
